@use 'src/lib/Font.module' as font;
@use 'src/lib/Spacing.module' as spacing;
@use 'src/lib/Colors.module' as colors;

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: colors.$alabaster;
  min-height: 100vh;
  min-width: 100vw;

  h1 {
    font-family: font.$poppinsBold;
    font-size: font.$heading;
    text-align: center;
    margin: spacing.$xlarge 0;
  }

  p {
    font-family: font.$poppinsRegular;
    font-size: font.$body;
    margin-bottom: spacing.$xlarge;
    text-align: center;
    line-height: 2.2rem;
  }
}

.content {
  max-width: 40rem;
}

.button {
  max-width: 20rem;
}
