@use 'src/lib/Font.module' as font;
@use 'src/lib/Spacing.module' as spacing;
@use 'src/lib/Colors.module' as colors;

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: colors.$chicago;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  margin: spacing.$xlarge;
  padding: spacing.$medium;
  background-color: colors.$vividBurgundy;
  border-radius: spacing.$medium;
}

.text {
  font-family: font.$poppinsBold;
  font-size: font.$subHeading;
  margin-top: spacing.$small;
  text-align: center;
  color: white;
}

.italicText {
  font-family: font.$poppinsItalic;
  font-size: font.$subHeading;
  margin-top: spacing.$medium;
  text-align: center;
  color: colors.$goldCrayola;
  word-wrap: break-word;
}

.buttonsContainer {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 60rem;
  gap: spacing.$large;
  margin-top: spacing.$medium;
}

.modalContainer {
  background-color: colors.$alabaster;
  border-radius: 1.5rem;
  padding: spacing.$xlarge;

  h1 {
    font-family: font.$poppinsBold;
    font-size: font.$heading;
    color: black;
    margin-bottom: spacing.$medium;
  }

  p {
    font-family: font.$poppinsRegular;
    font-size: font.$body;
    color: black;
  }
}
