@use 'src/lib/Font.module' as font;
@use 'src/lib/Spacing.module' as spacing;
@use 'src/lib/Colors.module' as colors;

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: colors.$chicago;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  margin: spacing.$xlarge;
  padding: spacing.$medium;
  background-color: colors.$vividBurgundy;
  border-radius: spacing.$medium;
}

.text {
  font-family: font.$poppinsBold;
  font-size: font.$subHeading;
  margin-top: spacing.$small;
  text-align: center;
  color: white;
}

.italicText {
  font-family: font.$poppinsItalic;
  font-size: font.$subHeading;
  margin-top: spacing.$medium;
  text-align: center;
  color: colors.$goldCrayola;
  word-wrap: break-word;
}
