@use 'src/lib/Font.module' as font;
@use 'src/lib/Spacing.module' as spacing;
@use 'src/lib/Colors.module' as colors;

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: colors.$chicago;

  h1 {
    font-family: font.$poppinsBold;
    font-size: font.$heading;
    color: colors.$pomegranate;
    margin-bottom: spacing.$medium;
  }

  p {
    font-family: font.$poppinsRegular;
    font-size: font.$body;
    color: colors.$alabaster;
  }
}
